* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./imagenes/Background_2.jpg);
    background-size: 100%;
}

.main {
    display: flex;
    background: #fdfcdc;
    height: 100vh;
    flex-direction: column;
    font-size: 16px;
}

.main-section {
    display: flex;
}

.main-button {
    width: 170px;
    height: 38px;
    border-radius: 10px;
    margin-left: 10px;
    margin: 10px 10px;
    border: 3px solid transparent;
    background-color: #faf9eb;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow:2px 2px 0px 0px #d98282;
    -moz-box-shadow:2px 2px 0px 0px #d98282;
    -webkit-box-shadow:2px 2px 0px 0px #d98282;
    }
}

.header {
    background-color: rgb(253, 211, 218);
    height: 30%;
}

.logo {
    width: 32px;
}

.container {
    background: pink;
    display: flex;
    height: inherit;
}

.content {
    background: #f9dcc4;
    flex: 1;
}

.aside {
    background: #ffe5aa;
    flex: 0 0 25%;
}

.aside-image-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

img {
    width: 240px;
}

.input-aside {
    display: flex;
    height: 31px;
    padding: 10px;
    border-radius: 10px;
    border: transparent;
    border-width: thin;
    outline: none;
}

.input-aside-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.aside-button {
    width: 78px;
    margin-top: 10px;
    border-radius: 7px;
    height: 30px;
    border: 3px solid #fcd7b9;
    background-color: #faf9eb;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.aside-text {
    display: flex;
    margin-top: 10px;
    padding: 40px;
    font-family: 'Rubik', sans-serif;
}

.footer {
    background: #450920;
    height: 3rem;
    margin-top: auto;
}

.footer a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-container-left {
    display: flex;
    width: 50%;
    align-items: flex-end;
    padding: 10px;
}

.footer-container-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.footer-item-left {
    margin: 5px 40px 40px 35px;
}

.footer-item-right {
    margin: 5px 40px 40px 5px;
}

.menu {
    display: flex;
    background-color: pink;
}

.menu-item {
    list-style: none;
    flex: 1.5;
    outline: 1px solid  rgb(247, 175, 187);
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}

.menu-item:hover {
    flex: 2;
    cursor: pointer;
    background-color: rgb(247, 175, 187);
}

.footer-item-left:hover a {
    color: chocolate;
    cursor: pointer;
}

.footer-item-right:hover a {
    color: chocolate;
    cursor: pointer;
}

.main-button:hover {
    background-color: #f7c7a0;
}

.button-aside:hover {
    background-color: #f5c8cb;
}

